@import url('http://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
.homepage{
    background-color: #dfdfdf;
    font-family: 'Montserrat';
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container {
    height: 100vh;
}


.container-1 {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
}
.vl {
    border-left: 7px solid black;
    height: 600px;
  }

.aboutus_content-left{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.aboutus_content-left img{
    width: 600px;
    height: 650px;
}

.aboutus_content-right{
    margin: 0 180px 0 50px;
    text-align: center;
}
.aboutus_content-right h1{
    font-weight: 900;
    font-family: 'Akira Expanded', sans-serif;
}

.aboutus_content-right p{
    margin: 25px 50px;
}

.aboutus_content-right button{
    width: 150px;
    height: 55px;
    background-color:steelblue;
}

.aboutus_content-right a:link {
    color: black;
    text-decoration: none;
}
.aboutus_content-right a:visited {
    color: white;
    text-decoration: none;
}

.aboutus_content-right button:hover{
    background-color:teal;
    -ms-zoom-animation: 2px;
    transform-box: 3px;
    
}

